body {
    background-color: rgba(0, 0, 0, 0.12);
}

nav {
    background-color: rgba(245, 132, 0, 0.88);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;


}

.menuylogo {
    display: flex;
    justify-content: space-around;
    width: 13.5rem;


}

.buscadoryregistro {
    display: flex;
    justify-content: space-between;
    width: 57rem;

}

h2 {
    font-family: 'Roboto', sans-serif;

    margin: 0.6rem;
    text-shadow: 3px 3px 3px rgb(160, 153, 153);
    transition: all 450ms;
}

p:hover {
    font-size: 1.2rem;
    text-shadow: 3px 3px 7px rgb(89, 97, 97);

}




.buttonsofbody {
    padding: 0.96rem;
    border-color: rgba(149, 0, 0, 0.99);
    border-radius: 0.3rem;
    background-color: rgba(149, 0, 0, 0.99);
    color: white;
    transition: all 450ms;

}

.buttonsofbody:hover {
    border-color: white;
    background-color: rgba(149, 0, 0, 0.99);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;

}

.buscador {
    padding: 0.6rem;
    border-radius: 0.3rem;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    transition: all 450ms;
}

.buscador:hover {
    border-color: cyan;
}

#lupa {

    border-radius: 0.3rem;
    border-color: rgba(149, 0, 0, 0.99);
    background-color: rgba(149, 0, 0, 0.99);
    color: white;
}

.buttonsofnav {
    padding: 0.6rem;
    border-color: rgba(149, 0, 0, 0.99);
    border-radius: 0.3rem;
    background-color: rgba(149, 0, 0, 0.99);
    color: white;
    transition: all 450ms;

}

.buttonsofnav:hover {

    border-radius: 0rem;
    border-color: white;
    background-color: rgba(149, 0, 0, 0.99);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;
}


.separe {
    height: 1.7rem;
}

.detalleimg {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    margin: 5% 25% 10% 25%;

    background-color: white;


    border-color: gray;
    border-radius: 0.6rem;
    transition: all 450ms;

    display: flex;
    flex-direction: column;

    background-color: #cecdcd;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.codigonft {
    margin: 5rem 5rem 5rem 5rem;
    border: 2px solid #f5f5f5;
}


.precio {
    /* margin-top: 30px;
    display: flexbox;
    flex-direction: row; */


}

.codigonft:hover {
    box-shadow: 0px 0px 10px rgb(201, 186, 186);
}



button {
    padding: 0.96rem;
    border-color: rgba(149, 0, 0, 0.99);
    border-radius: 0.3rem;
    background-color: rgba(149, 0, 0, 0.99);
    color: white;
    transition: all 450ms;
}

button:hover {
    border-color: rgb(100, 100, 100);
    background-color: rgba(149, 0, 0, 0.99);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    cursor: pointer;

}


@media (max-width:361px) {
    img {
        width: auto
            /* height: 5rem; */

    }

    /*barra de navegacion*/
    #barraDeBusqueda {
        display: none;
    }

    #logo {
        display: none;
    }

    #lupa {
        display: none;
    }

    nav {
        width: 51rem;
        height: 8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu {
        padding: 2rem;
        border-radius: 0.6rem;
        margin-right: 4.6rem;
    }

    .menuylogo {
        margin: 0rem;
    }

    .menuylogo #menu i {
        font-size: 3rem;
    }

    .buscadoryregistro {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .buscadoryregistro button {
        width: 12rem;
        height: 5rem;
        font-size: 2rem;
    }

    .separar {
        width: 0rem;
    }


}

@media (min-width:769px) {
    /* img {
        width: 5rem;
        height: 5rem;

    } */

    .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        row-gap: 0.3rem;
        margin: 0.3rem;
    }

    .cajas {
        margin: 0.3rem;
    }

}