<% for( let i = 0; i< products.length; i++ ) { %>
    <div class="coleccion">
        <a href="/coleccion/productDetail1">
            <img class="slider-item" src= "<%= products[i].imagen %>"  alt="" width="350px" height="197px">
            <div class="description">
                <p><%= products[i].name %> </p>
                 <span class="check"><i class="fas fa-check-circle"></i></span>
            </div>
            <div class="descripction-body">
            price:<%= products[i].price %> 
            </div>
            <div class="buynow">
                Buy now!
            </div>
        </a>
    </div>

<% } %>