<footer>
    <div class="footer">
      <div class="footer_container_1">
        <div class="footer_suscribe">
          <h4>Mantente al día</h4>
          <p>
            Únete a nuestra lista de correo para mantenerte al día de nuestras
            últimas versiones de funciones, lanzamientos de NFT y consejos y
            trucos para navegar por NFT Market.
          </p>
          <form action="">
            <input type="text" placeholder="Tu dirección de correo electrónico" />
            <button>Suscribirse</button>
          </form>
        </div>
        <div class="footer_comunidad">
          <h4>Únete a la comunidad</h4>
          <button><i class="fa-brands fa-twitter"></i></button>
          <button><i class="fa-brands fa-instagram"></i></button>
          <button><i class="fa-brands fa-discord"></i></button>
          <button><i class="fa-brands fa-reddit"></i></button>
          <button><i class="fa-brands fa-youtube"></i></button>
          <button><i class="fa-brands fa-tiktok"></i></button>
          <button><i class="fa-solid fa-envelope"></i></button>
        </div>
      </div>
      <div class="footer_container_2">
        
        <div>
          <img
            src="/imagenes/Nftlogo.png"
            alt="logo de Nft Market"
            width="150px"
            height="40px"
            id="logo"
          />
          <p>
            El primer y mayor mercado digital del mundo de criptocoleccionables y
            tokens no fungibles (NFT). Compra, vende y descubre artículos
            digitales exclusivos.
          </p>
        </div>
        <div class="footer_seccion">
          <p>Mercado</p>
          <ul>
            <li>Todos los Nft</li>
            <li>Nft de Solana</li>
            <li>Arte</li>
            <li>Coleccionables</li>
            <li>Música</li>
            <li>Fotografía</li>
            <li>Deportes</li>
            <li>Cromos</li>
            <li>Utilidad</li>
            <li>Mundos virtuales</li>
          </ul>
        </div>
        <div class="footer_seccion">
          <p>Mercado</p>
          <ul>
            <li>Todos los Nft</li>
            <li>Nft de Solana</li>
            <li>Arte</li>
            <li>Coleccionables</li>
            <li>Música</li>
            <li>Fotografía</li>
            <li>Deportes</li>
            <li>Cromos</li>
            <li>Utilidad</li>
            <li>Mundos virtuales</li>
          </ul>
        </div>
        <div class="footer_seccion">
          <p>Mercado</p>
          <ul>
            <li>Todos los Nft</li>
            <li>Nft de Solana</li>
            <li>Arte</li>
            <li>Coleccionables</li>
            <li>Música</li>
            <li>Fotografía</li>
            <li>Deportes</li>
            <li>Cromos</li>
            <li>Utilidad</li>
            <li>Mundos virtuales</li>
          </ul>
        </div>
        <div class="footer_seccion">
          <p>Mercado</p>
          <ul>
            <li>Todos los Nft</li>
            <li>Nft de Solana</li>
            <li>Arte</li>
            <li>Coleccionables</li>
            <li>Música</li>
            <li>Fotografía</li>
            <li>Deportes</li>
            <li>Cromos</li>
            <li>Utilidad</li>
            <li>Mundos virtuales</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  