<footer>
    <div class="footer">
      <div class="footer_container_1">
        <div class="footer_suscribe">
          <h4>Mantente al día</h4>
          <p>
            Únete a nuestra lista de correo para mantenerte al día de nuestras
            últimas versiones de funciones, lanzamientos de NFT y consejos y
            trucos para navegar por NFT Market.
          </p>
          <form action="">
            <input type="text" placeholder="Tu dirección de correo electrónico" />
            <button>Suscribirse</button>
          </form>
        </div>
        <div class="footer_comunidad">
          <h4>Únete a la comunidad</h4>
          <button><i class="fa-brands fa-twitter"></i></button>
          <button><i class="fa-brands fa-instagram"></i></button>
          <button><i class="fa-brands fa-discord"></i></button>
          <button><i class="fa-brands fa-reddit"></i></button>
          <button><i class="fa-brands fa-youtube"></i></button>
          <button><i class="fa-brands fa-tiktok"></i></button>
          <button><i class="fa-solid fa-envelope"></i></button>
        </div>
      
      </div>
      <hr width="1300vw">
      <div class="footer_politics">
        <div><p>© 2018 - 2022 Ozone Networks, Inc</p></div>
        <div style="width:50rem ;"></div>
        <div>
        <p>
          Política de privacidad
          Condiciones de servicio
        </p>  
      </div>
      </div>
      </div>
    </div>
  </footer>
  