<footer>
    <div class="redes"></div>
       <div class="footer">
           <div>
               <img src="/imagenes/Nftlogo.png" alt="" width="300rem">
                   <a href="#"><span class="iconos-de-redes"><i class="fab fa-instagram"></i></span> </a>
                   <a href="#"><span class="iconos-de-redes"><i class="fab fa-facebook-f"></i></span></a> 
                    <a href="#"><span class="iconos-de-redes"><i class="fab fa-twitter"></i></span></a> 
           </div>
       </div>
</footer>