<nav>
    <button type="menu" class="buttonsofnav" id="menu"><i class="fas fa-bars" ></i></button>
    <a href="/home"> 
        <img src="/imagenes/Nftlogo.png" alt="icono de NftMarket" width="150px" height="40px" id="logo">
    </a>
        <div class="separar"></div>
        <form action="#" method="get" >
            <input type="text" placeholder="Qué estas buscando?" class="buscador" id="barraDeBusqueda">
            <button type="submit" id="lupa" class="buttonsofnav">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="separar"></div>
        <div class="Img_Usuario_nav">
            <img src="/imagenes/default-placeholder.png" alt="">
            <a href="/home/profile">
                <p>Mi perfil  <i class="fas fa-angle-down"></i></p>
            </a>
        </div>
        <form method="get" action="/">
            <button type="submit" class="buttonsofnav" id="botondeingresar">
               Login
            </button>
        </form>
        <form method="get"  action="/registro">
            <button type="submit" class="buttonsofnav" id="botonderegistro">
                Registrate
         </button>
        </form>
</nav>