<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  
  </head>
  <body>
    <%-include ('./partials/nav.ejs') %>
    <STYLE>A {text-decoration: none;} </STYLE>
    <!--Sidebar-->
    <div id="mySidebar" class="sidebar" style="z-index: 100">
      <a href="javascript:void(0)" class="closebtn" id="close">×</a>
      <a href="/productos/createProduct">Crea tu Nft</a>
      <a href="#">Cart</a>
      <a href="/profile">Mi cuenta</a>
      <a href="#">Contáctanos</a>
    </div>
    <div class="container_cart">
      <div class="cart_div">
        <div class="item_carrito">
          <img
            src="/imagenes/cart1.png"
            alt=""
            width="100rem"
            height="100rem"
          />
        </div>
      </div>
    </div>

    <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="slider-box box_cart">
          
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-box box_cart">
            <img src="/imagenes/cart1.png" alt="">
          </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-box box_cart">
            <img src="/imagenes/cart1.png" alt="">
          </div>
      </div>
     
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

    
   
  </body>
</html>
