<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs')%>
 
  
  </head>
  <body>
    <%-include ('./partials/nav.ejs') %>
    <STYLE>A {text-decoration: none;} </STYLE>
    <!--Sidebar-->
    <div id="mySidebar" class="sidebar" style="z-index: 100">
      <a href="javascript:void(0)" class="closebtn" id="close">×</a>
      <a href="/productos/createProduct">Crea tu Nft</a>
      <a href="#">Cart</a>
      <a href="/profile">Mi cuenta</a>
      <a href="#">Contáctanos</a>
    </div>
    <div class="container_cart">
      <div class="cart_div">
        <div class="products_cart">
          <h4>Productos en el carrito:</h4>
        <div class="item_carrito">
          
          <img
            src="/imagenes/cart2.png"
            alt=""
            width="100rem"
            height="100rem"
            
          />
          <p>Downpour</p>
          <p>23445 ETH</p>
          <p>código:7543</p>
          <p>precio final: 23445 ETH</p>
        </div>
        <div class="item_carrito">
          <img
          src="/imagenes/cart1.png"
          alt=""
          width="100rem"
          height="100rem"
        />
          <p>Hsky</p>
          <p>12000 ETH</p>
          <p>código:1233</p>
          <p>precio final: 12000 ETH</p>
         
          
        </div>
        <div class="item_carrito">
          <img
            src="/imagenes/cart3.png"
            alt=""
            width="100rem"
            height="100rem"
          />
          <p>Primates</p>
          <p>15000 ETH</p>
          <p>código:3453</p>
          <p>precio final: 15000 ETH</p>
        </div>
      </div>
        <div class="cuenta_cart">
          <div class="cuenta_div"><p>Downpour </p><p>23445</p></div>
          <div class="cuenta_div"><p>Hsky </p><p>12000</p></div>
          <div class="cuenta_div"><p>Primates</p><p> 15000</p></div>
          <hr>
          <div class="cuenta_button">
          <button >Comprar</button>
          <h4>Total: 50445</h4>
          </div>
        </div>
      </div>
    </div>


    
    
    <%-include('./partials/footer.ejs')%>
  </body>
</html>
