<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1dc71a7fda.js" crossorigin="anonymous"></script>
    <title>NFT Market</title>
</head>
<body>
    <!--Barra de navegación-->
    <nav>
        <div class="menuylogo">
            <button type="menu" class="buttonsofnav" id="menu"><i class="fas fa-bars" ></i></button>
            <img src="/imagenes/Nftlogo.png" alt="icono de NftMarket" width="150px" height="38px" id="logo">
        </div>
        <div class="buscadoryregistro">
            <form action="#" method="get" >
                <input type="text" placeholder="Qué estas buscando?" class="buscador" id="barraDeBusqueda">
                <button type="submit" id="lupa" class="buttonsofnav">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="separar"></div>
            <button type="submit" class="buttonsofnav">
                Ingresá
            </button>
            <button type="submit" class="buttonsofnav" id="botonderegistro">
                Registrate
               <i class="fas fa-user"></i>
            </button>
       </div>
    </nav>
     <main>
        <!--Banner-->
        <div class="div-1">
           <h1>Descubre</h1>
           <h2>Admira</h2>
           <h3>Obtiene</h3>
           <button type="submit" class="buttonsofbody">Más información</button>
        </div>
        <!--Guía y cajas-->
        <div class="div-2">
        <p class="guide">
            Hazte dueño de piezas de arte únicas. <br>
            Invierte en NFT's y genera ganancias. <br>
            Conviértete en un coleccionador <br>
            <a href="#">Estás listo?</a>  
        </p>
        <div class="contenedor">
        <div class="cajas">
            <div class="icons">
                <i class="fas fa-lock" ></i>
            </div>
             <h4>Tus datos, protegidos</h4>
             <p>Tu seguridad es importante para nosotros</p>
        </div>
        <div class="cajas" >
            <div class="icons">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <h4>Organiza tus compras</h4>
             <p>Tus productos te esperan!</p>
        </div>
        <div class="cajas">
            <div class="icons">
                <i class="fas fa-level-up-alt" ></i>
            </div>
            <h4>Tus inversiones, en alza</h4>
            <p>Los valores de los NFT's aumentan cada día</p>
        </div>
         </div>
    </div>
     <!--Colecciones-->
    <div class="space">
     <h2>Colecciones:</h2>
   </div>
    <div >
        <div class="slider-container">
            <div class="coleccion">
                <img class="slider-item" src="https://media3.giphy.com/media/1gbqIc1fK8QgR3bHL7/giphy.gif?cid=ecf05e471p07ez9eid5pdi5n7krhnmbqx8hpyrmr1m92zu94&rid=giphy.gif&ct=g" alt="" width="350px" height="197px">
                <div class="description">
                    <p>Bored Ape</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Bored Ape es una colección de más de 1000 NFT's totalmente únicos.Aprovéchalos ahora que su valor esta en alza!
                </div>
            </div>
            <div class="coleccion">
                <img class="slider-item" src="https://media2.giphy.com/media/12QMzVeF4QsqTC/giphy.gif?cid=ecf05e47914xu2rmeb2nt77aky9vhvkdpuxxufx2jt1t4sbn&rid=giphy.gif&ct=g" alt="" width="350px" height="197px">
                <div class="description">
                    <p>Super Mario</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Super Mario volvió?Super Mario jamás se fue.Consíguelo aquí.
                </div>
            </div>
            <div class="coleccion">
                <img class="slider-item" src="/imagenes/nature.jpg" alt="" width="350px" height="197px">
                <div class="description">
                    <p>Nature</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Las más facinantes imagenes de este planeta,literalmente.
                </div>
            </div> 
            <div class="coleccion">
                <img class="slider-item" src="/imagenes/anonymus.jpg" alt="" width="350px" height="197px">
                <div class="description">
                    <p>The Anonymus colection</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    La cara más reconocible del mundo,ahora en Nft's
                </div>
            </div>
        </div>  
   </div>
   <!--Separación-->
   <div class="separe"></div>
   <div>
       <div class="slider-container">
            <div class="coleccion"><img class="slider-item" src="/imagenes/oranges.jpg" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Oranges</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                   Las frutas sacadas de contexto pueden ser mas divertidas.Y con más valor.
                </div>
           </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/coolcat.png" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Cool Cats</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Quién no ama a los gatos?Ahora en forma de NFT's!
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://media4.giphy.com/media/jQb5vQCpxZk6WgrB3z/giphy.gif?cid=ecf05e471p07ez9eid5pdi5n7krhnmbqx8hpyrmr1m92zu94&rid=giphy.gif&ct=g" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Lo-fi guy</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                   El lo-fi personificado en NFT's.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://media1.giphy.com/media/RtdRhc7TxBxB0YAsK6/giphy.gif?cid=ecf05e47wvig8xj1y7naol8cpn81n9pbrgrwq8mmj6qajroe&rid=giphy.gif&ct=g" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Among Us</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                   Porque no merecen pasar de moda, los astronautas volvieron.Consiguelos aquí.
                </div>
            </div> 
      </div>  
   </div>
  <!--Separación-->
   <div class="separe"></div>
   <div>
        <div class="slider-container">
            <div class="coleccion"><img class="slider-item" src="/imagenes/chancho.jpg" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Pink Pigs</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Enamorate de estos adorables personajes y coleccionalos a todos!
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://media3.giphy.com/media/TvMVORj5GsjreUpfxX/giphy.gif?cid=ecf05e47lzg29kwqhmb0jk8ykud7npb6kihnsl0yedcc3tny&rid=giphy.gif&ct=g" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>No-creepy aliens</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Porque los aliens no tiene por qué dar miedo...Al menos hasta leer su precio.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/mickey2.jpg" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Creepy Micky</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                   Siempre las cosas antiguas dan miedo.Incluso Micky
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://media4.giphy.com/media/mvh6WEauIIofjIBGI2/giphy.gif?cid=ecf05e479z75tpwz8d27ejgddmnqw9yonh33dsl6vk4oapr6&rid=giphy.gif&ct=g" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Fashion Duck</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                   Estos amiguitos y sus oufits tan particulares estan de moda.Hazte dueño de una de estas piezas únicas!
                </div>
            </div> 
   </div>  
 </div>
</main>
  <!--Separación-->
 <div class="separe"></div>
 <!--Footer-->
<footer>
 <!--Contacto de redes-->
   <div class="redes"></div>
    <div class="footer">
        <div>
            <img src="/imagenes/Nftlogo.png" alt="" width="300rem">
                <a href="#"><span class="iconos-de-redes"><i class="fab fa-instagram"></i></span> </a>
                <a href="#"><span class="iconos-de-redes"><i class="fab fa-facebook-f"></i></span></a> 
                 <a href="#"><span class="iconos-de-redes"><i class="fab fa-twitter"></i></span></a> 
        </div>
    </div>
</footer>
 
   
    
</body>
</html>