<!DOCTYPE html>
<html lang="en">
    <!--head-->
    <%- include('./partials/head.ejs')%>
    <body>
        <!--Barra de navegación-->
        <%-include ('./partials/nav.ejs') %> 
        <STYLE>A {text-decoration: none;} </STYLE>
        <main>
        <!--Banner-->
       <div class="background">
            <div class="div-1">
                <div>
                <h1>Descubre</h1>
                <h2>Admira</h2>
                <h3>Obtiene</h3>
                <button type="submit" class="buttonsofbody">Más información</button>
                </div>
                <div class="coleccion2">
                    <img class="slider-item" src="/imagenes/720minutes.png" alt="" width="350px" height="197px">
                    <div class="description">
                        <p style="color:black ;">720minutes</p>
                        <span class="check"><i class="fas fa-check-circle"></i></span>
                    </div>
                </div> 
            </div>
        <!--Guía y cajas-->
            <div class="div-2">
            
                <div class="contenedor">
                 <a href="/profile">
                    <div class="cajas" id="user-icon" >
                       
                        <div class="icons" >
                            <i class="fas fa-user"></i>
                         </div>
                        <h4>Tu cuenta</h4>
                        <p>Ingresa a tu perfil</p>
                    </div>
                </a>
                    <a href="/productos/createProduct">
                    <div class="cajas">
                        <div class="icons">
                            <i class="fas fa-paint-brush"></i>
                         </div>
                        <h4>Conviertete en un artista!</h4>
                        <p>Crea y vende tus propios NFT's</p>
                    </div>
                    </a>
                    <div class="cajas" >
                        <div class="icons">
                            <i class="fas fa-shopping-cart"></i>
                         </div>
                        <h4>Organiza tus compras</h4>
                        <p>Tus productos te esperan!</p>
                    </div>
                    <div class="cajas">
                        <div class="icons">
                            <i class="fas fa-level-up-alt" ></i>
                         </div>
                        <h4>Tus inversiones, en alza</h4>
                        <p>Los valores de los NFT's aumentan cada día</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="tendencias">
    <div class="contenedor-tendencias">
      
        <span class="en-tendencia">
            <h4>Nft popular</h4>
            <h4>Puesto</h4>
            <h4>Precio</h4>
            <h4>Volumen</h4>
        </span>
      
        <div class="en-tendencia">
        <div class="imagen-check-tendencia">
        <img class="imagen-en-tendencia" src="https://lh3.googleusercontent.com/jsfhye5yrhOSusDCKXquKoMQbYs-B8Nm3V2B5fZB-Hee9ag9MXwm8scvd8wuSpp8TE49oXBcWr4XMCRfzq1OA3p59s59hn_9bCzURA=s168" alt="">
       
         </div>
            <p>1</p>
            <p>23434</p>
            <p>676</p>
        </div>
         
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="/imagenes/bored-ape/monoblanco.jpeg" alt="">
                <p>2</p>
                <p>34343</p>
                <p>343</p>
            </div>
             
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="https://media3.giphy.com/media/1gbqIc1fK8QgR3bHL7/giphy.gif?cid=ecf05e471p07ez9eid5pdi5n7krhnmbqx8hpyrmr1m92zu94&rid=giphy.gif&ct=g" alt="">
                <p>3</p>
                <p>45454</p>
                <p>434</p>
            </div>
             
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="https://lh3.googleusercontent.com/vpJFZRfBl9ghj9IinaDB3w3xScD9AHwuXxpId50Yo80bw1Tt1BOhJg5pltBN-_wJwA0aCyHbcxIbXNnQ1cKd9xlc5ATdJUL4Yy3kDQ=s168" alt="">
                <p>4</p>
                <p>43567</p>
                <p>344</p>
            </div>
             
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="/imagenes/coolCats/coolcat.png" alt="">
                <p>5</p>
                <p>12121</p>
                <p>688</p>
            </div>
             
       
    </div>
    <div class="contenedor-tendencias">
        
        <span class="en-tendencia">
            <h4>Nft popular</h4>
            <h4>Puesto</h4>
            <h4>Precio</h4>
            <h4>Volumen</h4>
        </span>
      
        <div class="en-tendencia">
        <img class="imagen-en-tendencia" src="https://lh3.googleusercontent.com/iofetZEyiEIGcNyJKpbOafb_efJyeo7QOYnTog8qcQJhqoBU-Vu9l3lXidZhXOAdu6dj4fzWW6BZDU5vLseC-K03rMMu-_j2LvwcbHo=s168" alt="">
            <p>6</p>
            <p>67674</p>
            <p>434</p>
        </div>
         
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="https://media0.giphy.com/media/E3y79zUo2V4v8AFG2V/giphy.gif?cid=ecf05e47a34w0u2wvblwplf1yhe8b7gumo2s42tdl72aj5rf&rid=giphy.gif&ct=g" alt="">
                <p>7</p>
                <p>45334</p>
                <p>658</p>
            </div>
             
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="/imagenes/edifice/edifice.png" alt="">
                <p>8</p>
                <p>75343</p>
                <p>769</p>
            </div>
             
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="/imagenes/bulls/bulls.jpg" alt="">
                <p>9</p>
                <p>23134</p>
                <p>415</p>
            </div>
             
        <div class="en-tendencia">
            <img class="imagen-en-tendencia" src="/imagenes/ethilizards/ethilizards.png" alt="">
                <p>10</p>
                <p>78352</p>
                <p>936</p>
            </div>
             
       

    </div>
</div>
        <!--Colecciones-->
        <div class="space">
            <h2>Colecciones:</h2>
        </div>
    <div >
        <div class="slider-container">
            <div class="coleccion">
                <a href="/productos/1 ">
                    <img class="slider-item" src="https://media3.giphy.com/media/1gbqIc1fK8QgR3bHL7/giphy.gif?cid=ecf05e471p07ez9eid5pdi5n7krhnmbqx8hpyrmr1m92zu94&rid=giphy.gif&ct=g" alt="" width="350px" height="197px">
                    <div class="description">
                        <p>Bored Ape</p>
                        <span class="check"><i class="fas fa-check-circle"></i></span>
                    </div>
                     <div class="descripction-body">
                    Bored Ape es una colección de más de 1000 NFT's totalmente únicos.Aprovéchalos ahora que su valor esta en alza!
                     </div>
                </a>
            </div>
            <div class="coleccion">
                <a href="/productos/2">
                     <img class="slider-item" src="https://lh3.googleusercontent.com/vpJFZRfBl9ghj9IinaDB3w3xScD9AHwuXxpId50Yo80bw1Tt1BOhJg5pltBN-_wJwA0aCyHbcxIbXNnQ1cKd9xlc5ATdJUL4Yy3kDQ=s168" alt="" width="350px" height="197px">
                    <div class="description">
                        <p>CyberKongz VX</p>
                        <span class="check"><i class="fas fa-check-circle"></i></span>
                    </div>
           
                     <div class="descripction-body">
                    CyberKongz VX are unique and randomly generated 3D NFT Social Avatars
                     for the Metaverse and upcoming interoperability with The Sandbox
                     </div>
                 </a>
            </div>
            <div class="coleccion">
                <a href="/productos/:id">
                    <img class="slider-item" src="/imagenes/ethilizards/ethilizards.png" alt="" width="350px" height="197px">
                    <div class="description">
                        <p>Ethilizards</p>
                        <span class="check"><i class="fas fa-check-circle"></i></span>
                    </div>
                    <div class="descripction-body">
                    A collection of unique and glorious Ethlizards just vibin and chillin in their Underground Lounge
                    </div>
                </a>
            </div> 
            <div class="coleccion">
                <img class="slider-item" src="/imagenes/edifice/edifice.png" alt="" width="350px" height="197px">
                <div class="description">
                    <p>Edifice by Ben Kovach</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Edifice by Ben Kovach - Art Blocks Curated
                </div>
            </div>
        </div>  
   </div>
   <!--Separación-->
   <div class="separe"></div>
   <div>
       <div class="slider-container">
            <div class="coleccion"><img class="slider-item" src="/imagenes/bulls/bulls.jpg" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Bulls & Apes Project </p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Bulls & Apes Project features fantastic 3D art, fleshed out tokenomics, fun gamification, and IRL events to reward holders
                </div>
           </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/coolCats/coolcat.png" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Cool Cats</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Cool Cats is a collection of 9,999 randomly generated and stylistically curated NFTs that exist on the Ethereum Blockchain.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://media0.giphy.com/media/E3y79zUo2V4v8AFG2V/giphy.gif?cid=ecf05e47a34w0u2wvblwplf1yhe8b7gumo2s42tdl72aj5rf&rid=giphy.gif&ct=g" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Doodles</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    A community-driven collectibles project featuring art by Burnt Toast.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/seals/seals.png" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Sappy Seals</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Sappy Seals is community-led project focused on metaverse expansion and a growing ecosystem
                </div>
            </div> 
        </div>  
   </div>
  <!--Separación-->
   <div class="separe"></div>
   <div>
        <div class="slider-container">
            <div class="coleccion"><img class="slider-item" src="https://lh3.googleusercontent.com/iofetZEyiEIGcNyJKpbOafb_efJyeo7QOYnTog8qcQJhqoBU-Vu9l3lXidZhXOAdu6dj4fzWW6BZDU5vLseC-K03rMMu-_j2LvwcbHo=s168" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>CrypToadz by GREMPLIN</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    CrypToadz are a collection 6969 small amphibious creatures trying to escape the tyrannical rule of the Evil King Gremplin.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://lh3.googleusercontent.com/jsfhye5yrhOSusDCKXquKoMQbYs-B8Nm3V2B5fZB-Hee9ag9MXwm8scvd8wuSpp8TE49oXBcWr4XMCRfzq1OA3p59s59hn_9bCzURA=s168" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>KILLABEARS</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    KILLABEARS is a collection of 3333 thoughtfully designed,
                     animated and randomly generated NFTs on the Ethereum Blockchain by Mexican artist Memo Angeles.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/boki/boki.jpg" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Boki</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Boki is a collection of 7,777 unique characters who live in the World of Boki.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://lh3.googleusercontent.com/PvjU9uCrb9Faz5FQZuY7wu1323tr16r9LtyJGEJpzHJ0N8X--QelW9KBxXl23rN37q6ND_MAqJWWBssqM2ptyfIXf2_pKe7JAtiYMw=s168" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>CryptoNinja Partners</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    CryptoNinja Partners (CNP) is a 22,222-piece collection starring CryptoNinja sub-characters. 
                </div>
            </div> 
        </div>  
    </div>
 <!--separación-->
 <div class="separe"></div>
   <div>
        <div class="slider-container">
            <div class="coleccion"><img class="slider-item" src="/imagenes/720minutes.png" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>720 Minutes by Alexis André</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    720 Minutes by Alexis André - Art Blocks Curated.
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="https://lh3.googleusercontent.com/2ZAcXeq5pWS-3bXAM3x-opC8bK4qOyu2S5612zgVCHQWgl2KLyySKpHsiqrJu3nlZWrF-KOici-ZSkUNKpu1nS-SWryli9XLDsxKsmM=s168" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>Regulars</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    An extra-ordinary collection by @p0pps
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/fluf.png" alt=""  width="350px" height="197px">
                <div class="description">
                    <p>FLUF World</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    Flufs are the collection that started it all. 10,000 3D rabbit avatars, programmatically-generated from over 270 traits!
                </div>
            </div>
            <div class="coleccion"><img class="slider-item" src="/imagenes/meebits.png" alt=""  width="350px" height="197px">
                <div class="description">
                    <p> Meebits</p>
                    <span class="check"><i class="fas fa-check-circle"></i></span>
                </div>
                <div class="descripction-body">
                    The Meebits are 20,000 unique 3D voxel characters, created by a custom generative algorithm, then registered on the Ethereum blockchain. 
                </div>
            </div> 
    
        </main>
  <!--Separación-->
        <div class="separe"></div>
 <!--Footer-->
        <%-include('./partials/footer.ejs')%>
       
    </body>
</html>