<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Log In</title>
</head>
<body>
    <div class="login-body">
        <div class="caja-de-login">
            <div class="logo-login">
                <img src="/imagenes/Nftlogo.png" alt="" width="160rem" height="50rem" >
            </div>
            <div class="separacion-login"></div>
             <form action="/" method="post">
                <div><label for="usuario">Usuario:</label></div>
                    <input type="email" placeholder="Email o usuario" id="usuario" class="input-login" name="email">
                    <% if (locals.errors && errors.email) { %>
                        <p class="error"><%= errors.email.msg %> </p>
                      <% } %>
               <div class="separacion-login"></div>
                <div><label for="contrase単a">contrase単a:</label></div> 
                    <input type="password" id="contrase単a" class="input-login" name="password">
                <% if (locals.errors && errors.password) { %>
                  <p class="error"><%= errors.password.msg %> </p>
                <% } %>
                <div class="separacion-login"></div>
                 <a href="#">Olvidaste tu Contrase単a?</a>
                 <button class="ingresar-con-google">
                     <span>Ingresar con</span>
                     <span><img src="imagenes/google-small.png" alt="" width="85px" height="28px"></span>
                 </button>
                 <div class="recordarme">
                 <label for="cookie">Recordarme</label>
                 <input type="radio" id="cookie">
                </div>
            
                     <button type="submit" class="boton-ingresar">Ingresar</button>
                 
                 
                 <p>No tienes una cuenta?<a href="/registro">Registrate.</a></p>
                 


             </form>
           
       </div>
    </div>
    
  
    
</body>
</html>