<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<link rel="stylesheet" href="/css/styleDetail.css">

<body>
    <!--Barra de navegacion-->
    <%-include ('./partials/nav.ejs') %>
    <!--Detalle del producto-->
    <div class="detalleimg">
        <div class="titulo">
            <p>Detalle de producto</p>
        </div>
        <img src="https://media3.giphy.com/media/1gbqIc1fK8QgR3bHL7/giphy.gif?cid=ecf05e471p07ez9eid5pdi5n7krhnmbqx8hpyrmr1m92zu94&rid=giphy.gif&ct=g"
            alt="Bored ape nft" height="400rem">


        <div class="codigonft">
            <h3>Coleccion</h3>
            <div class="codigo">
                <h3>Codigo NFT:</h3>
                <h4>00012556</h4>
            </div>

        </div>


        <div class="precio">
            <p>Precio</p>
            <button>Añadir al carrito</button>
        </div>
        <a href="/coleccion">
            <button>BACK</button>
        </a>
    </div>
    <!--Footer-->
    <!-- <%-include('./partials/footer.ejs')%> -->

</body>

</html>