<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include('./partials/head.ejs')%>
<body class="body-register">
    <%-include ('./partials/nav.ejs') %> 
    <STYLE>A {text-decoration: none;} </STYLE>
    <div class="container" >
        <div class="contenedor_register">
        <form class="form-register" action="/registro" class="registro" method="post" enctype="multipart/form-data">
            <a href="/"><img src="/imagenes/Nftlogo.png" alt="" ></a> 

            <div class="form-box">
                <label for="nombreU">Nombre:</label>
                <input type="text" name="nombreU" id="userName"  required minlength="4" maxlength="18">
            </div>
            <div class="form-box">
                <label for="apellidoU">Apellido:</label>
                <input type="text" name="apellidoU" id="userlastName" required minlength="4" maxlength="18">
            </div>
            <div class="form-box">
                <label for="userEmail">Email:</label>
                <input type="email" name="emailU" id="userEmail" placeholder="ejemplo@correo.com" required>
            </div>
            <div class="form-box">
                <label for="userPassword">Contraseña:</label>
                <input type="password" name="contraseniaU" id="userPassword" required minlength="6">
            </div>
            <div class="form-box">
                <label for="userPassword">Confirme su contraseña</label>
                <input type="password" name="contraseniaU" id="userPassword2" required minlength="6">
            </div>
            <br>
            <div class="avatar_registro ">
                <label for="avatar">Sube aquí tu avatar:</label>
                <input type="file" id="avatar" name="avatar">
            </div>

            <div class="form-term">
                <a href="#"> He leido y acepto los terminos y condiciones</a>
                <input type="radio" id="termsAndCondition">
            </div>

            <div class="form-submit">
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </div>
         
        
    </div>
</body>
</html>